@import "variables.scss";

.Menu {
  // border: 2px solid #000;
  background-color: rgb(116, 116, 116);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.Menu__title {
  margin: 0 0 0 0;
  padding: 0;
}

.Menu__opened-rooms {
  border: 1px solid lightblue;
  // overflow-y: scroll;
}

.Menu__rooms {

}

.Menu__new-room {
  margin: auto 0 0 0;
}

.Menu__settings {
  margin: 0 0 0 0;
}

@media ($mobile-widths-only) {

}

@media ($tablet-widths) {

}

@media ($desktop-widths) {

}