@import "../variables";

.main-menu {
  border: 1px solid #000;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.main-menu__title {
  margin: 0 0 0 0;
  padding: 0;
}

.main-menu__opened-rooms {
  border: 1px solid lightblue;
  // overflow-y: scroll;
}

.main-menu__rooms {

}

.main-menu__new-room {
  margin: auto 0 0 0;
}

.main-menu__settings {
  margin: 0 0 0 0;
}

@media ($mobile-widths-only) {
  .main-menu {
    display: none;
  }

  .main-menu--active {
    display: flex;
    width: 100vw;
  }
}

@media ($tablet-widths) {
  .main-menu {
    width: 24%;
  }
}

@media ($desktop-widths) {

}