.Room {
  border: 2px solid #000;
  display: flex;
  // align-items: center;

  color: #fff;
  text-decoration: none;

  cursor: pointer;
}

.Room--active {
  background-color: lightcoral;
}

.Room__img {
  flex-shrink: 0;
  border: 2px solid #fff;
  width: 96px;
  height: 96px;
}

.Room__wrapper {
  flex-grow: 1;
}

.Room__name {
  margin: 0;
  padding: 0;
}

.Room__descr {
  margin: 0;
  padding: 0;
}