.Room {
  border: 2px solid #000;
  display: flex;
  align-items: center;

  color: #fff;
  text-decoration: none;

  cursor: pointer;
}

.Room--active {
  background-color: lightcoral;
}

.Room__img {
  border: 2px solid #fff;
  width: 48px;
  height: 48px;
}

.Room__name {
  margin: 0;
  padding: 0;
}

.Room__close {
  margin: 0 0 0 auto;
}