.answer-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 15px 0 15px 0;
  max-width: 100%;

  overflow: hidden;
}

.answer-form__text {
  border: none;
  outline: none;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: transparent;
  padding: 5px;
  resize: none;
  height: 34px;
  overflow: hidden;
  width: 80%;
  margin: 0 0 0 10px;

  // max-height: 150px;
}

// Стилицация элемента для автоматического изменения высоты <textarea>

#answer-form__text-div {
  visibility: hidden;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: rgb(146, 78, 78);
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;

  position: absolute;
  left: 10px;
  top: -200px;
  min-height: 34px;

  // max-height: 150px;
  // overflow-y: scroll;

  width: 80%;
}
// --- --- ---

.answer-form__btn {
  align-self: flex-end;
  flex-flow: 0;
  font-size: 0;
  width: 32px;
  height: 34px;
  margin: 0 10px 0 0;
  border: none;
  border-radius: 0;
  background-image: url("../img/icon-send.svg");
  background-repeat: no-repeat;
  background-position: center;
}