.btn {
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 15px 0;
  border: 2px solid #fff;
  transition: 0.3s;
  outline: none;
  background-color: transparent;
  cursor: pointer;
    &:hover {
      background-color: #fff;
      color: #000;
    }
}