.main-nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 0 0 20px;
}

.main-nav__tabs {
  flex-grow: 1;
  @include reset-list;
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 0;
}

.main-nav__tab {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.main-nav__title {
  margin: 35px 10px 25px 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.main-nav__user-rooms {
  @include reset-list;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media ($mobile-widths-only) {
  .main-nav {
    display: none;
  }

  .main-nav--active {
    display: flex;
  }
}

@media ($tablet-widths) {

}
  
@media ($desktop-widths) {
  
}