.message {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  align-self: flex-start;
  max-width: 80%;
  position: relative;
  padding: 10px 20px 10px 20px;
  margin: 0 0 25px 0;
  border: 2px solid #486381;
  border-radius: 15px 15px 15px 0;
}

.message--user {
  color: #fff;
  align-self: flex-end;
  border-radius: 15px 15px 0 15px;
  background-color: rgba(0, 0, 0, 0.3);
}

.message__text {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
}

.message__time {
  position: absolute;
  bottom: -16px;
  left: 10px;
  font-size: 12px;
  line-height: 12px;
}