.message {
  border: 1px solid lightseagreen;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  align-self: flex-start;
  flex-shrink: 0;
  margin: 15px 0 0 0;
    // &:last-of-type {
    //   margin: 15px 0 35px 0;
    // }
    .message__text {
      border: 1px solid lightgreen;
      border-radius: 10px 10px 10px 0;
    }
}

// Чтобы последнее сообщение не залезало в FF под форму отправки сообщения, margin в этом случае не работает
@-moz-document url-prefix() {
    .message {
      &:last-of-type {
        padding: 0 0 35px 0;
      }
    }
}

.message--user {
  align-self: flex-end;
    .message__text {
      border: 1px solid lightgreen;
      border-radius: 10px 10px 0 10px;
    }
}

.message__id {
  align-self: flex-end;
  font-size: 12px;
  line-height: 18px;
}

.message__text {
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  white-space: pre-wrap;
  word-break: break-all;
}

.message__time {
  align-self: flex-start;
  font-size: 12px;
  line-height: 18px;
}