.message-form {
  border: 1px solid lightseagreen;
  position: sticky;
  bottom: 0px;
  margin: auto 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.message-form__file-label {
  flex-shrink: 0;
  align-self: flex-end;
}

.message-form__file {

}

.message-form__text {
  flex-grow: 1;
  height: 34px;
  padding: 5px 0 5px 0;

  font-family: "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;

  border: none;

  resize: none;
  overflow: hidden;
}

.message-form__help-div {
  // visibility: hidden;
  position: absolute;
  top: -200px;
  left: 10px;

  min-width: 50px;
  min-height: 34px;
  padding: 5px 0 5px 0;

  font-family: "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;

  background-color: lightcoral;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-form__send {
  flex-shrink: 0;
  align-self: flex-end;
}