.top {
  border: 1px solid limegreen;
  min-width: 50%;
  flex-grow: 1;
}

.top__title {
  margin: 0;
  padding: 0;
}

@media ($tablet-widths) {
  .top {
    min-width: 33%;
  }
}

@media ($desktop-widths) {
  .top {
    min-width: 20%;
  }
}