.window {
  display: none;
}

.window--active {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow-y: scroll;

}

.window__header {
  border: 1px solid rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.window__title {
  margin: 0;
  padding: 0;
  width: 100%;
}

.window__content {
  display: flex;
  flex-wrap: wrap;
}